header {
    display: flex;
    flex-direction: row;
    width: 1920px;
    height: 100px;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: lavender;
}

#header-img {
}

nav {
    width: auto;
    height: auto;
    position: absolute;
    right: 0;
    align-self: center;
}

.nav-link {
    position: relative;
    margin: 0 40px 40px 0;
    right: 50px;
    font-size: large;
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
    color: #292a33;
}